<ibm-header name="Project" brand="CRUD" [route]="['/dashboard']">
  <ibm-hamburger></ibm-hamburger>

  <ibm-header-navigation>
    <ibm-header-item [route]="['/dashboard']" >Dashboard</ibm-header-item>
    <ibm-header-item [route]="['/categorias']">Categorias</ibm-header-item>
  </ibm-header-navigation>

  <ibm-header-global>
    <ibm-header-action title="Carbon" href="https://carbondesignsystem.com/" (click)="goToCarbonHomePage()">
      <svg ibmIcon="carbon" size="20"></svg>
    </ibm-header-action>
  </ibm-header-global>
  
</ibm-header>